<!-- Peter Madoff and Charlie Richardson Data Journalism Project -->
<%- include('global/header.ejs'); %>
<title>About Page</title>
  <%- include('global/navbar.ejs'); %>
  <h1> About Page </h1>
  <br>
      <div id="projectPipeline">
        <h2> Project Pipeline and Division of Labor </h2>
        <p>
          <img src="images/dataJournalismPipeline.jpeg" alt="Project Pipeline" width="693" height="304">
        </p>
      </div>
      <div class="row">
        <div class="col-lg">
          <h2>Peter's rendition</h2>
          <img src="images/peterMacroMicro.jpeg" alt="Peter Rendition" width="550" height="425">
        </div>
        <div class="col-lg">
          <h2>Charlie's rendition</h2>
          <img src="images/charlieMacroMicro.jpeg" alt="Charlie Rendition" width="425" height="550">
        </div>
      </div>
      <br>
      <div class="container-fluid">
      <div class="row">
        <div class="col-4">
          <h2>Evaluation of Wireframe Prototypes</h2>
          <h4>
          <ul class="list-group">
          <li class="list-group-item">Both of our macro pages fell short in terms of understandability because pi charts and the pipeline format can be confusing in comparison to time series graphs.</li>
          <li class="list-group-item">Both of our web designs were achievable because the data on this subject is abundant and the designs are fairly straightforward.</li>
          <li class="list-group-item">Sometimes, both of our designs lacked simplicity, which contributed to them being less understandable. However, when we combine the best aspects of the prototypes, this becomes less of a problem.</li>
          <li class="list-group-item">Both of our designs were politically neutral and just focused on presenting data instead.</li>
          </ul>
        </h4>
        </div>
          <div class="col-4">
          <h2>Longterm Design</h2>
        <h4>
            <ul class="list-group">
            <li class="list-group-item">We decided to take a general approach to the topic of unemployment, instead of focusing solely on the past year.</li>
            <li class="list-group-item">We decided to indicate crisis years at the bottom of the macro page.</li>
            <li class="list-group-item">We decided to use a time series graph instead of a pi chart graph because we thought it would allow viewers to see how unemployment in various industries changed over time.</li>
            <li class="list-group-item">Because we both used time series graphs in our prototypes, we chose to use a time series graph indicating unemployment by each industry on each micro page.</li>
            <li class="list-group-item">At the bottom of the micro page, we decided to analyze the trends within each page’s industry.</li>
            </ul>
          </h4>
        </div>
        <div class="col-4">
          <h2>Relevant Vocabulary</h2>
          <h4>
            <ul class="list-group">
            <li class="list-group-item">Unemployment rate: the percent of the total labor force (or the labor force of a particular industry that is not currently employed.</li>
            <li class="list-group-item">Recession: According to Business Insider, “A recession is a period of decline in general economic activity, typically defined when an economy experiences a decrease in its gross domestic product for two consecutive quarters.” Increased
            unemployment rates can also be another characteristic of a recession.</li>
            <li class="list-group-item">Industry: an industry includes multiple companies that have generally similar business activities.</li>
            </ul>
          </h4>
        </div>
      </div>
    </div>
  <br>
</body>
<footer>
  <%- include('global/footer'); %>
</footer>
</html>
